@model int


<li class="nav-item" style="width:100px;">
    <a asp-action="ViewCart" asp-controller="cart" asp-area="product" class=" nav-link text-dark">
        <i class="bi bi-cart" style="font-size: 17px">
            <span class="badge rounded-pill badge-notification bg-danger">@Model</span>
        </i>
    </a>
</li>

